In [7]:
from pandas.core.ops.array_ops import isna
import os
os.chdir("/content/drive")

import pandas as pd

movies = pd.read_csv('/content/drive/MyDrive/820/21Jan2023- 820- Movie metadata.csv')
movies = pd.DataFrame(data = movies)

col_names = ["Color", "Director Name", "# Critic Reviews", "Duration", "# Director Likes", "# Actor 1 Likes", "Actor 2 Name", "# Actor 1 Likes", "Gross", "Genres", 
             "Actor 1 Name", "Movie Title", "# Users Voted", "# Cast Likes", "Actor 3 Name", "# FB Poster", "Plot Keywords", "Movie Link", "# Users for Reviews", "Langauge", "Country",
             "Content Rating", "Budget", "Title Year", "# Actor 2 Likes", "IMDB Score", "Aspect Ratio", "# Movie Likes"]
movies.columns = col_names
#REMOVE MISSING DATA:
movies = movies.dropna()
pd.set_option('float_format', '{:.2f}'.format)
movies.head()

,Color,Director Name,# Critic Reviews,Duration,# Director Likes,# Actor 1 Likes,Actor 2 Name,# Actor 1 Likes,Gross,Genres,...,# Users for Reviews,Langauge,Country,Content Rating,Budget,Title Year,# Actor 2 Likes,IMDB Score,Aspect Ratio,# Movie Likes
0,Color,James Cameron,723.00,178.00,0.00,855.00,Joel David Moore,1000.00,760505847.00,Action|Adventure|Fantasy|Sci-Fi,...,3054.00,English,USA,PG-13,237000000.00,2009.00,936.00,7.90,1.78,33000
1,Color,Gore Verbinski,302.00,169.00,563.00,1000.00,Orlando Bloom,40000.00,309404152.00,Action|Adventure|Fantasy,...,1238.00,English,USA,PG-13,300000000.00,2007.00,5000.00,7.10,2.35,0
2,Color,Sam Mendes,602.00,148.00,0.00,161.00,Rory Kinnear,11000.00,200074175.00,Action|Adventure|Thriller,...,994.00,English,UK,PG-13,245000000.00,2015.00,393.00,6.80,2.35,85000
3,Color,Christopher Nolan,813.00,164.00,22000.00,23000.00,Christian Bale,27000.00,448130642.00,Action|Thriller,...,2701.00,English,USA,PG-13,250000000.00,2012.00,23000.00,8.50,2.35,164000
5,Color,Andrew Stanton,462.00,132.00,475.00,530.00,Samantha Morton,640.00,73058679.00,Action|Adventure|Sci-Fi,...,738.00,English,USA,PG-13,263700000.00,2012.00,632.00,6.60,2.35,24000

In [8]:
from pandas.core.groupby.grouper import DataFrame
#CREATE REVENUE CATEGORIES:

gross_Describe = movies['Gross'].describe()
gross_Describe

#Revenue Classes:
# $0 - 24.99M
# $25 - 99.99M
# $100 - 249.99M
# $250 - 499.99M
# $500M - 1000000000

#Assign each movie to a REVENUE CLASS:
x = pd.cut(movies.Gross, bins = [0, 24999999, 99999999,249999999, 499999999, 1000000000], 
       labels = ['Class One', 'Class Two', 'Class Three', 'Class Four', 'Class Five'])
movies['Classes'] = x

In [9]:
# ENCODE CATEGORICAL VARIABLES TO NUMERICAL LABEL ENCODING:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()
one_hot_encoder = preprocessing.OneHotEncoder()

movies['Director Name'] = label_encoder.fit_transform(movies['Director Name'])
movies['Color'] = label_encoder.fit_transform(movies['Color'])
movies['Actor 2 Name'] = label_encoder.fit_transform(movies['Actor 2 Name'])
movies['Genres'] = label_encoder.fit_transform(movies['Genres'])
movies['Langauge'] = label_encoder.fit_transform(movies['Langauge'])
movies['Country'] = label_encoder.fit_transform(movies['Country'])
movies['Content Rating'] = label_encoder.fit_transform(movies['Content Rating'])
movies['Title Year'] = label_encoder.fit_transform(movies['Title Year'])
movies['Actor 1 Name'] = label_encoder.fit_transform(movies['Actor 1 Name'])
movies['Actor 3 Name'] = label_encoder.fit_transform(movies['Actor 3 Name'])

In [10]:
#DROP UNWANTED FEATURES:
movies = movies.drop(['Plot Keywords', 'Movie Link', 'Movie Title'], axis = 1)

In [13]:
from sklearn import datasets
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

#SEPARATE INTO TRAINING AND TEST SETS:

X = movies.drop(['Classes'], axis = 1)
y = movies.pop('Classes')

In [14]:
movies.head()

,Color,Director Name,# Critic Reviews,Duration,# Director Likes,# Actor 1 Likes,Actor 2 Name,# Actor 1 Likes,Gross,Genres,...,# Users for Reviews,Langauge,Country,Content Rating,Budget,Title Year,# Actor 2 Likes,IMDB Score,Aspect Ratio,# Movie Likes
0,1,620,723.00,178.00,0.00,855.00,1002,1000.00,760505847.00,91,...,3054.00,9,43,7,237000000.00,66,936.00,7.90,1.78,33000
1,1,538,302.00,169.00,563.00,1000.00,1592,40000.00,309404152.00,85,...,1238.00,9,43,7,300000000.00,64,5000.00,7.10,2.35,0
2,1,1395,602.00,148.00,0.00,161.00,1795,11000.00,200074175.00,107,...,994.00,9,42,7,245000000.00,72,393.00,6.80,2.35,85000
3,1,251,813.00,164.00,22000.00,23000.00,381,27000.00,448130642.00,243,...,2701.00,9,43,7,250000000.00,69,23000.00,8.50,2.35,164000
5,1,62,462.00,132.00,475.00,530.00,1837,640.00,73058679.00,105,...,738.00,9,43,7,263700000.00,69,632.00,6.60,2.35,24000

In [15]:
#NORMALIZE DATA
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
normalized_Movies = pd.DataFrame(scaler.fit_transform(movies))
movies = normalized_Movies
normalized_Movies.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,1.00,0.37,0.89,0.48,0.00,0.04,0.46,0.00,1.00,0.12,...,0.60,0.27,0.98,0.64,0.02,0.90,0.01,0.82,0.04,0.09
1,1.00,0.32,0.37,0.45,0.02,0.04,0.73,0.06,0.41,0.11,...,0.24,0.27,0.98,0.64,0.02,0.88,0.04,0.71,0.08,0.00
2,1.00,0.84,0.74,0.38,0.00,0.01,0.82,0.02,0.26,0.14,...,0.20,0.27,0.95,0.64,0.02,0.99,0.00,0.68,0.08,0.24
3,1.00,0.15,1.00,0.43,0.96,1.00,0.17,0.04,0.59,0.33,...,0.53,0.27,0.98,0.64,0.02,0.95,0.17,0.90,0.08,0.47
4,1.00,0.04,0.57,0.32,0.02,0.02,0.84,0.00,0.10,0.14,...,0.15,0.27,0.98,0.64,0.02,0.95,0.00,0.65,0.08,0.07

In [16]:
# RANDOM SPLIT- SPLIT DATA INTO TRAINING AND TEST SETS:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 10, train_size = 0.8, shuffle = True)

In [17]:
# GAUSSIAN NAIVE BAYES MODEL:
from sklearn.naive_bayes import GaussianNB

gnb_Model = GaussianNB()
gnb_Model.fit(X_train, y_train)
gnb_Predictions = gnb_Model.predict(X_test)

In [18]:
# SUPPORT VECTOR MACHINE MODEL:
from sklearn import svm

svm_Model = svm.SVC(kernel = 'linear') 
svm_Model.fit(X_train, y_train)
svm_Predictions = svm_Model.predict(X_test)

In [19]:
#DECISION TREE MODEL:
from sklearn import tree

#TEST TREE MODEL:
tree_Model = tree.DecisionTreeClassifier()
tree_Model = tree_Model.fit(X_train, y_train)
tree_Predictions = tree_Model.predict(X_test)

In [20]:
#############################
#LOGISTIC REGRESSION MODEL
from sklearn import linear_model
movie_Model = linear_model.LogisticRegression(multi_class = 'ovr', solver = 'liblinear')
movie_Model.fit(X_train, y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

LogisticRegression(multi_class='ovr', solver='liblinear')

In [21]:
from sklearn import metrics

# ACCURACY SCORES OF EACH ALGORITHM:
print("Accuracy: GAUSSIAN NAIVE BAYES:", metrics.accuracy_score(y_test, gnb_Predictions))
print("Accuracy: SVM:", metrics.accuracy_score(y_test, svm_Predictions))
print("Accuracy: DECISION TREE:", metrics.accuracy_score(y_test, tree_Predictions))

Accuracy: GAUSSIAN NAIVE BAYES: 0.910904255319149
Accuracy: SVM: 0.9973404255319149
Accuracy: DECISION TREE: 0.9986702127659575

In [33]:

# CROSS- VALIDATION- SPLIT DATA INTO TRAINING AND TEST SETS:
from sklearn.model_selection import KFold, cross_val_score, cross_val_predict

# CROSS- VAL: Gaussian Naive Bayes 
k_folds = KFold(n_splits=10)
gnb_cross_Scores = cross_val_score(gnb_Model, X_test, y_test, cv = k_folds)
gnb_cross_Scores

array([0.85526316, 0.85526316, 0.90666667, 0.86666667, 0.89333333,
       0.85333333, 0.85333333, 0.85333333, 0.86666667, 0.85333333])

In [26]:
# CROSS- VAL: Support Vector Machine:
k_folds = KFold(n_splits = 10)
svm_cross_Scores = cross_val_score(svm_Model, X_test, y_test, cv = k_folds)
svm_cross_Scores

array([1.        , 0.98684211, 1.        , 0.98666667, 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ])

In [28]:
# CROSS- VAL: Decision Tree:
k_folds = KFold(n_splits = 10)
tree_cross_Scores = cross_val_score(tree_Model, X_test, y_test, cv = k_folds)
tree_cross_Scores

array([1.        , 0.98684211, 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ])